
.formWrapper {
    width: 900px;
    display: flex;
    justify-content: center;
}
.titulo{
    font-family: Inter, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;  
} 
.formContainer {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}
  
.formItem{
    display: flex;
    align-items: left;
    align-content: center;
    height: 60px;
    align-items: center;
}
.formTitle{
    font-family: Inter, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: right;
    margin-right: 15px;
    width: 30%;
    
}
.formInput{
    width: 50%;
    height: 80%;
}
.formError{
    width: 50%;
    height: 80%;
    background-color: rgb(255, 156, 156);
}
.button {
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px
}
.button:hover{
    background: #f0f0f0;
}
.containerButton{
    display: flex;
    justify-content: space-around;
}
.containerInput{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}
.error{
    color: red;
    margin-left: 3px;
}