.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}
.formWrapper {
  
  width: 100vw;
  display: flex;

  justify-content: center;
  
}

.formContainer {
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 hsl(0, 0%, 74%);
  padding: 20px;
  background-color: #F5F5FA;
}

.formItem{
  display: flex;
  align-items: left;
  align-content: center;
  height: 60px;
  align-items: center;
}
.formTitle{
  font-family: Inter, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: right;
  margin-right: 10px;
  width: 30%;
  
}
.formInput{
  width: 50%;
  height: 80%;
}
.tableContainer{
  margin-top: 30px;
}
.tableHeader{
  display: flex;
}
.tableTitle{
  background-color: rgb(197, 197, 197);
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px;
  border: 1px solid #000;
}
.tableItemContainer{
  background-color: white;
  display: flex;  
}
.tableItemContainer:hover{
  background-color: rgb(199, 199, 199);
}
.tableItemContainerSelect{
  border: 1px solid #000;
  display: flex;  
  background-color: rgb(199, 199, 199);
}
.tableItem{
  cursor: pointer;
  padding: 10px;
  border: 1px solid #000;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

